<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal de Iniciativas Estudiantiles{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{% static 'src/Barra Colores.png' %}" alt="Barra Colores" class="logo">  <!-- Asegúrate de que la ruta sea correcta -->
                <span class="navbar-title">PIE USM SVM</span>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: note; background-color: #074469; font-size: 1em; color: white; font-weight: bold;">
                                Cerrar Sesión ({{ user.username }})
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
